/* @import './assets/fonts/fonts.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Regular (normal weight) */
.font-avenir-regular {
  font-family: 'Avenir', sans-serif;
  font-weight: 400; /* Normal weight */
}

/* Light (300 weight) */
.font-avenir-light {
  font-family: 'Avenir', sans-serif;
  font-weight: 300; /* Light weight */
}

/* Bold (900 weight w/ shadow) */
.font-avenir-bold {
  font-family: 'Avenir', sans-serif;
  font-weight: 900; /* Max weight Tailwind supports */
  text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}

/* .font-avenir-bold {
  font-family: 'Avenir', sans-serif;
  font-weight: 900; /* Max weight 
  transform: scale(1.1); Slightly scale up the text 
} */


/* Add specific typography or spacing overrides if needed */
h1, h2, h3, h4, h5, h6 {
 /* @apply font-bold;  Using Tailwind utility */
}

p {
  /* font-weight: 400; */
  margin-bottom: 1rem;
}

/* Responsive container */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Custom Utilities */
.bg-light {
  background-color: #f8f9fa;
}

.text-dark {
  color: #333;
}
